<!--@subject {{trans "Shipping Notification"}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr>Shipping notification</tr>
</table>
{{template config_path="design/email/footer_template"}}