<?php
/**
 * @var \Magenest\DeliveryDate\Block\Adminhtml\Order\DeliveryDateInformation $block
 */
$order = $block->getOrder();
?>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <div class="title"><?= __('Delivery Date Information') ?></div>
    </div>
    <div class="admin__table-wrapper">
        <table class="admin__table-secondary delivery-date-information">
            <tbody>
                <tr class="delivery-date">
                    <th><?= __('Delivery Date') ?></th>
                    <td><?= $order->getDeliveryDate() ?></td>
                </tr>
                <tr class="delivery-time-interval">
                    <th><?= __('Delivery Time Interval') ?></th>
                    <td><?= $order->getDeliveryTimeInterval() ?></td>
                </tr>
                <tr class="delivery-comment">
                    <th><?= __('Delivery Comment') ?></th>
                    <td><?= $order->getDeliveryComment() ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
