<?php
/** @var Magenest\OrderCancellationReason\Block\Order\History $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php
$_orders = $block->getOrders();
$reason = $block->getReasonCancel();
?>
<?= $block->getChildHtml('info') ?>
<?php if ($_orders && count($_orders)) : ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= $block->escapeHtml(__('Order #')) ?></th>
                    <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                    <?= $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col total"><?= $block->escapeHtml(__('Order Total')) ?></th>
                    <th scope="col" class="col status"><?= $block->escapeHtml(__('Status')) ?></th>
                    <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order) : ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= $block->escapeHtml($_order->getRealOrderId()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @noEscape */ $block->formatDate($_order->getCreatedAt()) ?></td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra) : ?>
                            <?php $extra->setOrder($_order); ?>
                            <?= $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @noEscape */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= $block->escapeHtml($_order->getStatusLabel()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?= $block->escapeUrl($block->getViewUrl($_order)) ?>" class="action view">
                                <span><?= $block->escapeHtml(__('View Order')) ?></span>
                            </a>
                            <?php if ($this->helper(\Magento\Sales\Helper\Reorder::class)->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?= /* @noEscape */
                                $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order">
                                    <span><?= $block->escapeHtml(__('Reorder')) ?></span>
                                </a>
                            <?php endif ?>

                            <?php if ($block->canCancel($_order->getEntityId())) : ?>
                                <a href="#" class="action cancel magenest_cancel_order" order_id="<?= $block->escapeHtmlAttr($_order->getEntityId())?>">
                                    <span><?= $block->escapeHtml(__('Cancel')) ?></span>
                                </a>
                            <?php endif ?>

                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else : ?>
    <div class="message info empty"><span><?= $block->escapeHtml($block->getEmptyOrdersMessage()) ?></span></div>
<?php endif ?>

<div id="magenest-cancel-modal">
    <div id="magenest-cancel-modal-content">
        <div class="field reason_cancel">
            <label class="label" for="reason_cancel"><span><?= $block->escapeHtml(__('Select Reason')) ?></span></label>
            <div class="control">
                <select class="select" name="reason_cancel" id="reason_cancel">
                    <?php foreach ($reason as $item): ?>
                        <option>
                            <span><?= $block->escapeHtml($item['reason']) ?></span>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field comment_cancel">
            <label class="label" for="comment_cancel"><span><?= $block->escapeHtml(__('Leave a Comment')) ?></span></label>
            <div class="control">
                <textarea name="comment_cancel" id="comment_cancel" cols="5" rows="5" class="textarea"></textarea>
            </div>
        </div>
    </div>
</div>

<?= /* @noEscape */  $secureRenderer->renderStyleAsTag('display:none', '#magenest-cancel-modal') ?>

<script type="text/x-magento-init">
    {
        "*": {
            "Magenest_OrderCancellationReason/js/cancel-modal" : {

            }
        }
    }
</script>
