<?php /** @var Magenest\Handle404Page\Block\Handle404Page\Custom404Page $block  */
$categorySuggest = $block->getCategorySuggest();
if ($categorySuggest && $categorySuggest->getId()) :
?>
<div class="suggest-category">
    <span><?= __('<b>Are you looking for <a href="%1">%2</a> ?</b>',$categorySuggest->getUrl(),$categorySuggest->getName()) ?></span>
</div>
<?php
endif;
?>