<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="action-submenu" each="data: action.actions, as: 'action'" css="_active: action.visible">
    <li css="_visible: $data.visible">
        <div data-bind="if: $parent.isInputType(type)">
            <span class="action-menu-item">
                <label for="related-product-ids" data-bind="i18n: 'ID Product'"></label>
                <input class="admin__control-text" data-bind="value: $parent.ids" type="text" name="related-product-ids" id="related-product-ids"/>
                <button click="$parent.applyAction.bind($parent, type)" data-bind="i18n: 'Apply'"></button>
            </span>
        </div>
        <div data-bind="ifnot: $parent.isInputType(type)">
            <span class="action-menu-item" translate="label" click="$parent.applyAction.bind($parent, type)"/>
            <render args="name: $parent.submenuTemplate, data: $parent" if="$data.actions"/>
        </div>
    </li>
</ul>
