<div data-bind="visible: canVisibleBlock">
    <div class="step-title"
         translate="'Delivery Date'"
         data-role="title" />
    <div class="notice-content">
        <span data-bind="text: noteByAdmin"></span>
    </div>
    <fieldset class="fieldset">
        <div class="field delivery-date">
            <label class="label" for="delivery-date">
                <span data-bind="i18n: 'Delivery Date'"></span>
            </label>
            <div class="control">
                <input type="text" name="delivery-date" id="delivery-date" data-bind="datepicker: { storage: deliveryDate, options: dateOptions }"/>
            </div>
        </div>
        <div class="field delivery-time-interval">
            <label class="label" for="delivery-time-interval">
                <span data-bind="i18n: 'Delivery Time Interval'"></span>
            </label>
            <div class="control">
                <select name="delivery-time-interval" id="delivery-time-interval" data-bind="options: availableInterval, value: deliveryTimeInterval,
                       optionsCaption: 'Select time interval...'"></select>
            </div>
        </div>
        <div class="field delivery-datetime">
            <div class="control">
                <input type="hidden" name="delivery-datetime" id="delivery-datetime" data-bind="value: deliveryDatetime"/>
            </div>
        </div>
        <!-- ko if: enableComment-->
            <div class="field delivery-comment">
                <label class="label" for="delivery-comment">
                    <span data-bind="i18n: 'Order notes'"></span>
                </label>
                <div class="control">
                    <textarea class="input-text" id="delivery-comment" name="delivery-comment" rows="5" maxlength="200" data-bind="attr:{placeholder: $t('Enter order notes...')} " ></textarea>
                </div>
            </div>
        <!--/ko-->
    </fieldset>
</div>