<div data-bind="visible: canVisibleBlock">
    <div class="delivery-date">
        <span data-bind="text: $t('Delivery Date')+':'"></span>
        <span data-bind="text: deliveryDate"></span>
    </div>
    <div class="delivery-time">
        <span data-bind="text: $t('Delivery Time')+':'"></span>
        <span data-bind="text: deliveryTime"></span>
    </div>
    <div class="delivery-comment">
        <span data-bind="text: $t('Delivery Comment')+':'"></span>
        <span data-bind="text: deliveryComment"></span>
    </div>
</div>