<?php
/** @var \Magenest\SalesUrlRewrite\Block\SaleProduct $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

$productCollection = $block->getProductCollection();

?>
<div class="sale-button">
    <button class="button primary" id="sale-button">
        <span><?= __('Sale') ?></span>
    </button>
</div>

<?= /* @noEscape */  $secureRenderer->renderStyleAsTag('float: right; margin-left: 5px;', '#sale-button') ?>

<div id="sale-modal">
    <div id="modal-content">

    </div>
</div>

<?= /* @noEscape */  $secureRenderer->renderStyleAsTag('display:none', '#sale-modal') ?>

<script type="text/x-magento-init">
    {
        "*": {
            "Magenest_SalesUrlRewrite/js/sale-modal" : {
                "countProduct": "<?= $productCollection->count() ?>"
            }
        }
    }
</script>
