<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * @var \Magenest\DeliveryDate\Block\Adminhtml\Order\Create\DeliveryDate $block
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
$interval = $block->getAllInterval();
?>
<section id="magenest-delivery-date" class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Delivery Date')) ?></span>
    </div>
    <div class="admin__field field-delivery-date">
        <label for="delivery-date" class="admin__field-label">
            <span><?= $block->escapeHtml(__('Delivery Date')) ?></span>
        </label>
        <div class="admin__field-control">
            <input type="text" id="delivery-date" class="admin__control-text"  name="order[comment][delivery_date]" value="<?= $block->getDeliveryDate() ?>">
        </div>
    </div>
    <div class="admin__field field-delivery-time-interval">
        <label for="delivery-time-interval" class="admin__field-label">
            <span><?= $block->escapeHtml(__('Delivery Time Interval')) ?></span>
        </label>
        <div class="admin__field-control">
            <select id="delivery-time-interval" class="admin__control-select"  name="order[comment][delivery_time_interval]">
                <?php foreach ($interval as $item) : ?>
                    <option value="<?= $item ?>" <?= $item == $block->getDeliveryTimeInterval() ? 'selected' : '' ?>><?= $item ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="admin__field field-delivery-comment">
        <label for="delivery-comment" class="admin__field-label">
            <span><?= $block->escapeHtml(__('Delivery Comment')) ?></span>
        </label>
        <div class="admin__field-control">
        <textarea
                id="delivery-comment"
                name="order[comment][delivery_comment]"
                class="admin__control-textarea" rows="3"><?= $block->getDeliveryComment() ?></textarea>
        </div>
    </div>
</section>

<script type="text/javascript">
    require([
        "jquery",
        "mage/calendar"
    ], function($){
        $('#delivery-date').datepicker({
            showButtonPanel: true,
            minDate: new Date()
        });
    });
</script>